@using eZeroOne.eHorakelle.Models
@model eZeroOne.eHorakelle.Models.BookingModel
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" >
			<h2>Reservation: Place Your Reservation</h2>
		</div>

		<!-- BEGIN .content-wrapper -->
		<div class="content-wrapper clearfix">
			
			<!-- BEGIN .booking-step-wrapper -->
			<div class="booking-step-wrapper clearfix">
			
				<div class="step-wrapper">
					<div class="step-icon-wrapper">
						<div class="step-icon">1.</div>
					</div>
					<div class="step-title">Choose Your Date</div>
				</div>
			
				<div class="step-wrapper">
					<div class="step-icon-wrapper">
						<div class="step-icon">2.</div>
					</div>
					<div class="step-title">Choose Your Room</div>
				</div>
			
				
		  @{
                var tempData = (TempBooking)ViewBag.TempData;
                var dateDiff = (@tempData.CheckOut - @tempData.CheckIn).TotalDays + 1;
                var starDate = tempData.CheckIn;
            }			

        <div class="step-wrapper">
            <div class="step-icon-wrapper">
                <div class="step-icon step-icon-current">3.</div>
            </div>
            <div class="step-title">Place Your Reservation</div>
        </div>
			
        <div class="step-wrapper last-col">
            <div class="step-icon-wrapper">
                <div class="step-icon">4.</div>
            </div>
            <div class="step-title">Confirmation</div>
        </div>
			    
        <div class="step-line"></div>
			
			<!-- END .booking-step-wrapper -->
			</div>
			
			<div class="booking-main-wrapper">
				
				<div class="booking-main">
					
					<h4 class="title-style4">Guest Details<span class="title-block"></span></h4>

					<form action="/Property/Payment" class="clearfix" method="post">
						
						<div class="input-left">
							
							<label for="first_name">First Name</label>
							<input type="text" name="first_name" id="first_name">
							
							<label for="last_name">Last Name</label>
							<input type="text" name="last_name" id="last_name">
							
							<label for="email_address">Email Address</label>
							<input type="text" name="email_address" id="email_address">
							
							<label for="phone_number">Telephone Number</label>
							<input type="text" name="phone_number" id="phone_number">
							
							<label for="address_line1">Address Line 1</label>
							<input type="text" name="address_line1" id="address_line1">
							
						</div>
						
						<div class="input-right">
							
							<label for="address_line2">Address Line 2</label>
							<input type="text" name="address_line2" id="address_line2">
							
							<label for="city">City</label>
							<input type="text" name="city" id="city">
							
							<label for="state_county">State / County</label>
							<input type="text" name="state_county" id="state_county">
							
							<label for="zip_postcode">Zip / Postcode</label>
							<input type="text" name="zip_postcode" id="zip_postcode">
							
							<label for="country">Country</label>
							<input type="text" name="country" id="country">
							
						</div>
						
						<label for="special_requirements">Special Requirments</label>
						<textarea name="special_requirements" id="special_requirements" rows="10"></textarea>
						
						<p class="terms"><input type="checkbox" name="terms"> I have read and accept the <a href="#">terms and conditions</a>.</p>
						
						<img src="/images/payment.png" alt="" class="payment-image" />
						
						<div class="clearfix"></div>
						
						<input class="book-deposit" type="submit" value="Book Now &amp; Pay Deposit" />

					</form>

				</div>
				
			</div>
			
			<div class="booking-side-wrapper">
				
				<div class="booking-side clearfix">
				
					<h4 class="title-style4">Your Reservation<span class="title-block"></span></h4>
					
					<ul>
						  <li><span>Check in Date: </span> @String.Format("{0:ddd, MMM d, yyyy}", @tempData.CheckIn)</li>
                        <li><span>Check Out Date: </span> @String.Format("{0:ddd, MMM d, yyyy}", @tempData.CheckOut)</li>
               
                        <li><span>No Of Days: </span> @dateDiff</li>
                        <li><span>Guests: </span> @tempData.Adult Adults, @tempData.Children Child</li>
                        <li><span>Below 6 years: </span> @tempData.Below6Yrs</li>
					</ul>
					
					<div class="price-details">
						
						<p class="deposit">15% Deposit Due Now</p>
						<h3 class="price">$314</h3>
						<hr class="total-line" />
						<p class="total">Total Price</p>
						<h3 class="total-price">$2099</h3>
						<p class="price-breakdown"><a href="#price-breakdown-display">View Price Breakdown</a></p>
						<p id="price-breakdown-display" class="price-breakdown-display"><span>Thu July 18:</span> $214<br />
						<span>Fri July 19:</span> $264<br />
						<span>Sat July 20:</span> $264<br />
						<span>Sun July 21:</span> $234</p>
						
					</div>
					
					<hr class="space9" />
					
					<a href="/Property/ChooseDate" class="button3">Edit Reservation</a>
					
				</div>
				
			</div>
			
		<!-- END .content-wrapper -->
		</div>